.payment-container {
    background: #afa193;
    width: 100%;
    height: 215vh;
    overflow-x: hidden;
}

.payment-content {
    max-width: 800px;
    margin: 0 auto;
}

.payment-heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.payment-heading span {
    color: #f3ad16;
}

.payment-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.payment-section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.select-delivery-option,
.select-payment-option {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.receipt {
    margin-top: 10px;
}

.confirm-order {
    text-align: center;
    margin-top: 20px;
}

.confirm-button {
    background-color: #f3ad16;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #e69500;
}
